<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MusicAppTheme."
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity"
            android:theme="@style/MusicAppTheme.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QueenActivity"
            android:label="@string/artist_queen"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".MichaeljacksonActivity"
            android:label="@string/artist_michaelJackson"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".DavidbowieActivity"
            android:label="@string/artist_davidBowie"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".GNRActivity"
            android:label="@string/artist_gnr"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".MadonnaActivity"
            android:label="@string/artist_madonna"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>